#if ( $javadoc )
#if ( $for_toplevel )
  #set ( $j = '' )
#else
  #set ( $j = '  ' )
#end
${j}{doc-next
#if ( $javadoc.purpose || $javadoc.author )
    {purpose
#if ( $javadoc.author )
        author: $javadoc.author	
#end
#foreach ( $purpose in $javadoc.purpose.split("\n") )	
        $purpose
#end
    }
#end
#foreach ( $param in $javadoc.params )
    {parameter $param.name,
#foreach ( $text in $param.text.split("\n") )
        $text
#end
    }
#end
#if ( $javadoc.returnValue )
    {return-vals
#foreach ( $returnValue in $javadoc.returnValue.split("\n") )
        $returnValue
#end
    }
#end
${j}}
#set ( $javadoc = false )
#end
