<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="com.curlap.orb.plugin.contribution1">
         <menu
               label="Generate for ORB"
               path="additions"
               id="com.curlap.orb.plugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate"
               class="com.curlap.orb.plugin.popup.actions.CurlClassGenerateAction"
               menubarPath="com.curlap.orb.plugin.menu1/group1"
               enablesFor="1"
               id="com.curlap.orb.plugin.CurlClassGenerateAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
